# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.db
*.so
*.mo
*.env
*.local

# ENV files
.env
*.env

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Testing
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# settings.py
server/settings.py


# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/
myenv/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db